@charset 'UTF-8';

/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.Animated
{
    animation-duration: 1s;

    animation-fill-mode: both;
}

.Animated.Infinite
{
    animation-iteration-count: infinite;
}

.Animated.Hinge
{
    animation-duration: 2s;
}

.Animated.Bounce-In,
.Animated.Bounce-Out
{
    animation-duration: .75s;
}

.Animated.Flip--Out-X,
.Animated.Flip--Out-Y
{
    animation-duration: .75s;
}

@keyframes bounce
{
    from,
    20%,
    53%,
    80%,
    to
    {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    40%,
    43%
    {
        -webkit-transform: translate3d(0, -30px, 0);
                transform: translate3d(0, -30px, 0);
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
                animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    }

    70%
    {
        -webkit-transform: translate3d(0, -15px, 0);
                transform: translate3d(0, -15px, 0);
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
                animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    }

    90%
    {
        -webkit-transform: translate3d(0, -4px, 0);
                transform: translate3d(0, -4px, 0);
    }
}

.Bounce
{
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-name: bounce;
            animation-name: bounce;
}

@keyframes bounceIn
{
    from,
    20%,
    40%,
    60%,
    80%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0%
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    20%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
    }

    40%
    {
        -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
    }

    60%
    {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
                transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: scale3d(.97, .97, .97);
                transform: scale3d(.97, .97, .97);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);

        opacity: 1;
    }
}

.Bounce-In
{
    -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
}

@keyframes bounceInDown
{
    from,
    60%,
    75%,
    90%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0%
    {
        -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);

        opacity: 1;
    }

    75%
    {
        -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
    }

    90%
    {
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }

    to
    {
        -webkit-transform: none;
                transform: none;
    }
}

.Bounce-In-Down
{
    -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown;
}

@keyframes bounceInLeft
{
    from,
    60%,
    75%,
    90%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    0%
    {
        -webkit-transform: translate3d(-3000px, 0, 0);
                transform: translate3d(-3000px, 0, 0);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);

        opacity: 1;
    }

    75%
    {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }

    90%
    {
        -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
    }

    to
    {
        -webkit-transform: none;
                transform: none;
    }
}

.Bounce-In-Left
{
    -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
}

@keyframes bounceInRight
{
    from,
    60%,
    75%,
    90%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    from
    {
        -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);

        opacity: 1;
    }

    75%
    {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }

    90%
    {
        -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
    }

    to
    {
        -webkit-transform: none;
                transform: none;
    }
}

.Bounce-In-Right
{
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
}

@keyframes bounceInUp
{
    from,
    60%,
    75%,
    90%,
    to
    {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }

    from
    {
        -webkit-transform: translate3d(0, 3000px, 0);
                transform: translate3d(0, 3000px, 0);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: translate3d(0, -20px, 0);
                transform: translate3d(0, -20px, 0);

        opacity: 1;
    }

    75%
    {
        -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
    }

    90%
    {
        -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
    }

    to
    {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

.Bounce-In-Up
{
    -webkit-animation-name: bounceInUp;
            animation-name: bounceInUp;
}

@keyframes bounceOut
{
    20%
    {
        -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
    }

    50%,
    55%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);

        opacity: 1;
    }

    to
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }
}

.Bounce-Out
{
    -webkit-animation-name: bounceOut;
            animation-name: bounceOut;
}

@keyframes bounceOutDown
{
    20%
    {
        -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
    }

    40%,
    45%
    {
        -webkit-transform: translate3d(0, -20px, 0);
                transform: translate3d(0, -20px, 0);

        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);

        opacity: 0;
    }
}

.Bounce-Out-Down
{
    animation-name: bounceOutDown;
}

@keyframes bounceOutLeft
{
    20%
    {
        transform: translate3d(20px, 0, 0);

        opacity: 1;
    }

    to
    {
        transform: translate3d(-2000px, 0, 0);

        opacity: 0;
    }
}

.Bounce-Out-Left
{
    animation-name: bounceOutLeft;
}

@keyframes bounceOutRight
{
    20%
    {
        transform: translate3d(-20px, 0, 0);

        opacity: 1;
    }

    to
    {
        transform: translate3d(2000px, 0, 0);

        opacity: 0;
    }
}

.Bounce-Out-Right
{
    animation-name: bounceOutRight;
}

@keyframes bounceOutUp
{
    20%
    {
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45%
    {
        transform: translate3d(0, 20px, 0);

        opacity: 1;
    }

    to
    {
        transform: translate3d(0, -2000px, 0);

        opacity: 0;
    }
}

.Bounce-Out-Up
{
    animation-name: bounceOutUp;
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.Fade-In
{
    animation-name: fadeIn;
}

@keyframes fadeInDown
{
    from
    {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Down
{
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}

@keyframes fadeInDownBig
{
    from
    {
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-DownBig
{
    -webkit-animation-name: fadeInDownBig;
            animation-name: fadeInDownBig;
}

@keyframes fadeInLeft
{
    from
    {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Left
{
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig
{
    from
    {
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Left-Big
{
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
}

@keyframes fadeInRight
{
    from
    {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Right
{
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
}

@keyframes fadeInRightBig
{
    from
    {
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Right-Big
{
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
}

@keyframes fadeInUp
{
    from
    {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Up
{
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
}

@keyframes fadeInUpBig
{
    from
    {
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Fade-In-Up-Big
{
    -webkit-animation-name: fadeInUpBig;
            animation-name: fadeInUpBig;
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}

.Fade-Out
{
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}

@keyframes fadeOutDown
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        opacity: 0;
    }
}

.Fade-Out-Down
{
    -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);

        opacity: 0;
    }
}

.Fade-Out-Down-Big
{
    -webkit-animation-name: fadeOutDownBig;
            animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

        opacity: 0;
    }
}

.Fade-Out-Left
{
    -webkit-animation-name: fadeOutLeft;
            animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);

        opacity: 0;
    }
}

.Fade-Out-Left-Big
{
    -webkit-animation-name: fadeOutLeftBig;
            animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);

        opacity: 0;
    }
}

.Fade-Out-Right
{
    -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);

        opacity: 0;
    }
}

.Fade-Out-Right-Big
{
    -webkit-animation-name: fadeOutRightBig;
            animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        opacity: 0;
    }
}

.Fade-Out-Up
{
    -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);

        opacity: 0;
    }
}

.Fade-Out-Up-Big
{
    -webkit-animation-name: fadeOutUpBig;
            animation-name: fadeOutUpBig;
}

@keyframes flip
{
    from
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    40%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
                transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    50%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
                transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    80%
    {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
                transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    to
    {
        -webkit-transform: perspective(400px);
                transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
}

.Animated.Flip-
{
    -webkit-animation-name: flip;
            animation-name: flip;

    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}

@keyframes flipInX
{
    from
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;

        opacity: 0;
    }

    40%
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    60%
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to
    {
        -webkit-transform: perspective(400px);
                transform: perspective(400px);
    }
}

.Flip-In-X
{
    -webkit-animation-name: flipInX;
            animation-name: flipInX;

    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@keyframes flipInY
{
    from
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;

        opacity: 0;
    }

    40%
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    60%
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 10deg);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to
    {
        -webkit-transform: perspective(400px);
                transform: perspective(400px);
    }
}

.Flip-In-Y
{
    -webkit-animation-name: flipInY;
            animation-name: flipInY;

    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@keyframes flipOutX
{
    from
    {
        -webkit-transform: perspective(400px);
                transform: perspective(400px);
    }

    30%
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

        opacity: 1;
    }

    to
    {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

        opacity: 0;
    }
}

.Flip-Out-X
{
    -webkit-animation-name: flipOutX;
            animation-name: flipOutX;

    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@keyframes flipOutY
{
    from
    {
        -webkit-transform: perspective(400px);
                transform: perspective(400px);
    }

    30%
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -15deg);

        opacity: 1;
    }

    to
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 90deg);

        opacity: 0;
    }
}

.Flip-Out-Y
{
    -webkit-animation-name: flipOutY;
            animation-name: flipOutY;

    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
}

@keyframes lightSpeedIn
{
    from
    {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
                transform: translate3d(100%, 0, 0) skewX(-30deg);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: skewX(20deg);
                transform: skewX(20deg);

        opacity: 1;
    }

    80%
    {
        -webkit-transform: skewX(-5deg);
                transform: skewX(-5deg);

        opacity: 1;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Light-Speed-In
{
    -webkit-animation-name: lightSpeedIn;
            animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

@keyframes lightSpeedOut
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
                transform: translate3d(100%, 0, 0) skewX(30deg);

        opacity: 0;
    }
}

.Light-Speed-Out
{
    -webkit-animation-name: lightSpeedOut;
            animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

@keyframes hinge
{
    0%
    {
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    20%,
    60%
    {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
                transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    40%,
    80%
    {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
                transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;

        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(0, 700px, 0);
                transform: translate3d(0, 700px, 0);

        opacity: 0;
    }
}

.Hinge
{
    -webkit-animation-name: hinge;
            animation-name: hinge;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn
{
    from
    {
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
                transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);

        opacity: 0;
    }

    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;
    }
}

.Roll-In
{
    -webkit-animation-name: rollIn;
            animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes Roll-Out
{
    from
    {
        opacity: 1;
    }

    to
    {
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
                transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);

        opacity: 0;
    }
}

.Roll-Out
{
    -webkit-animation-name: rollOut;
            animation-name: rollOut;
}

@keyframes zoomIn
{
    from
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }
}

.Zoom-In
{
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
}

@keyframes zoomInDown
{
    from
    {
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.550, .055, .675, .190);
                animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .320, 1);
                animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 1;
    }
}

.Zoom-In-Down
{
    -webkit-animation-name: zoomInDown;
            animation-name: zoomInDown;
}

@keyframes zoomInLeft
{
    from
    {
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
                transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.550, .055, .675, .190);
                animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .320, 1);
                animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 1;
    }
}

.Zoom-In-Left
{
    -webkit-animation-name: zoomInLeft;
            animation-name: zoomInLeft;
}

@keyframes zoomInRight
{
    from
    {
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
                transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.550, .055, .675, .190);
                animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .320, 1);
                animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 1;
    }
}

.Zoom-In-Right
{
    -webkit-animation-name: zoomInRight;
            animation-name: zoomInRight;
}

@keyframes zoomInUp
{
    from
    {
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.550, .055, .675, .190);
                animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 0;
    }

    60%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .320, 1);
                animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 1;
    }
}

.Zoom-In-Up
{
    -webkit-animation-name: zoomInUp;
            animation-name: zoomInUp;
}

@keyframes zoomOut
{
    from
    {
        opacity: 1;
    }

    50%
    {
        -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);

        opacity: 0;
    }

    to
    {
        opacity: 0;
    }
}

.Zoom-Out
{
    -webkit-animation-name: zoomOut;
            animation-name: zoomOut;
}

@keyframes zoomOutDown
{
    40%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.550, .055, .675, .190);
                animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 1;
    }

    to
    {
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .320, 1);
                animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 0;
    }
}

.Zoom-Out-Down
{
    -webkit-animation-name: zoomOutDown;
            animation-name: zoomOutDown;
}

@keyframes zoomOutLeft
{
    40%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);

        opacity: 1;
    }

    to
    {
        -webkit-transform: scale(.1) translate3d(-2000px, 0, 0);
                transform: scale(.1) translate3d(-2000px, 0, 0);
        -webkit-transform-origin: left center;
                transform-origin: left center;

        opacity: 0;
    }
}

.Zoom-Out-Left
{
    -webkit-animation-name: zoomOutLeft;
            animation-name: zoomOutLeft;
}

@keyframes zoomOutRight
{
    40%
    {
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);

        opacity: 1;
    }

    to
    {
        -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
                transform: scale(.1) translate3d(2000px, 0, 0);
        transform-origin: right center;

        opacity: 0;
    }
}

.Zoom-Out-Right
{
    animation-name: zoomOutRight;
}

@keyframes zoomOutUp
{
    40%
    {
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.550, .055, .675, .190);

        opacity: 1;
    }

    to
    {
        transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(.175, .885, .320, 1);

        opacity: 0;
    }
}

.Zoom-Out-Up
{
    animation-name: zoomOutUp;
}

@keyframes slideInDown
{
    from
    {
        visibility: visible;

        transform: translate3d(0, -100%, 0);
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.Slide-In-Down
{
    animation-name: slideInDown;
}

@keyframes slideInLeft
{
    from
    {
        visibility: visible;

        transform: translate3d(-100%, 0, 0);
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.Slide-In-Left
{
    animation-name: slideInLeft;
}

@keyframes slideInRight
{
    from
    {
        visibility: visible;

        transform: translate3d(100%, 0, 0);
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.Slide-In-Right
{
    animation-name: slideInRight;
}

@keyframes slideInUp
{
    from
    {
        visibility: visible;

        transform: translate3d(0, 100%, 0);
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.Slide-In-Up
{
    animation-name: slideInUp;
}

@keyframes slideOutDown
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;

        transform: translate3d(0, 100%, 0);
    }
}

.Slide-Out-Down
{
    animation-name: slideOutDown;
}

@keyframes slideOutLeft
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;

        transform: translate3d(-100%, 0, 0);
    }
}

.Slide-Out-Left
{
    animation-name: slideOutLeft;
}

@keyframes slideOutRight
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;

        transform: translate3d(100%, 0, 0);
    }
}

.Slide-Out-Right
{
    animation-name: slideOutRight;
}

@keyframes slideOutUp
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;

        transform: translate3d(0, -100%, 0);
    }
}

.Slide-Out-Up
{
    animation-name: slideOutUp;
}
