.Prices
{
	padding : 0 0 100px;
	@extend %Wrapper;
	@at-root .Prices-Header
	{
		margin-bottom : 60px;
		@extend %Clearfix;
		h2
		{
			display : inline-block;
			@extend %Header-Special;
			small
			{
				left : calc(50% - 55px);
			}

		}

		.Note
		{
			float : right;
		}

	}
	.Center
	{
		margin : 75px auto 0;
	}

	@at-root .Note
	{
		display : table;
		.Aside
		{
			display        : table-cell;
			vertical-align : middle;
			border-top     : 2px solid $C-Secondary;
			border-left    : 2px solid $C-Secondary;
			border-bottom  : 2px solid $C-Secondary;
			border-radius  : 10px 0 0 10px;
			width          : 30px;
		}

		.Image
		{
			display        : table-cell;
			vertical-align : middle;
			width          : 50px;

			svg
			{
				fill   : $C-Secondary;
				width  : 50px;
				height : 50px;
			}
		}

		.Text
		{
			display        : table-cell;
			max-width      : 600px;
			vertical-align : middle;
			font-weight    : 600;
			font-size      : 13rem;
			padding        : 10px 20px 10px 30px;
			border-top     : 2px solid $C-Secondary;
			border-right   : 2px solid $C-Secondary;
			border-bottom  : 2px solid $C-Secondary;
			border-radius  : 0 10px 10px 0;
			line-height    : 25rem;
			@include Adaptive('>=desktop')
			{
				max-width : 650px;
			}
		}
	}
	h4
	{
		font-weight   : 700;
		margin-bottom : 15px;
		padding-left  : 40px;
	}
	@at-root .Prices-Table
	{
		display       : table;
		width         : 100%;
		border-bottom : 1px solid $C-Third;
		margin-bottom : 40px;
		.Header
		{
			display   : table-header-group;
			font-size : 13rem;
			width     : 100%;

			li
			{
				display          : table-cell;
				background-color : $C-Secondary;
				color            : white;
				font-weight      : 700;
			}
		}

		.Row
		{
			display   : table-row;
			font-size : 14rem;
			li
			{
				border-right : 1px solid $C-Third;
				& + li
				{
					padding : 10px;
				}
				&:nth-of-type(1)
				{
					border-left : 1px solid $C-Third;
				}
			}

			&:nth-of-type(2n+1)
			{
				background-color : $C-Third-Lite;
			}
		}

		li
		{
			display        : table-cell;
			vertical-align : middle;
			line-height    : 18rem;

			&:nth-of-type(1)
			{
				padding : 10px 20px 10px 40px;
				width   : 35%;
			}
			&:nth-of-type(2)
			{
				width : 15%;
			}
			&:nth-of-type(3)
			{
				width : 15%;
			}
			&:nth-of-type(4)
			{
				width : 15%;
			}
			&:nth-of-type(5)
			{
				width : 20%;
			}
			& + li
			{
				text-align : center;
			}
		}
	}
}