.Company
{
	@at-root .Header-Offer
	{
		@extend %Wrapper;
		position      : relative;
		display       : table;
		width         : 100%;
		height        : 450px;
		margin-bottom : 50px;
		.Background
		{
			position            : absolute;
			top                 : 0;
			bottom              : 0;
			left                : -1px;
			right               : 0;
			transform-origin    : center;
			transform           : rotate(-2deg) skew(-2deg);
			border-radius       : 20px;
			background          : url("../img/header.jpg") no-repeat fixed;
			background-position : center;
		}

		.Content
		{
			position       : relative;
			display        : table-cell;
			font-weight    : 400;
			font-family    : 'Calibri', 'Verdana', 'Arial', 'Helvetica', sans-serif;
			text-align     : center;
			vertical-align : middle;

			h1
			{
				max-width : 620px;
				margin    : 0 auto 45px;

				span
				{
					display          : inline-block;
					color            : white;
					background-color : $C-Primary;
					margin-bottom    : 10px;
					padding          : 0 17px 5px;
				}
			}
			a
			{
				@extend %Button-Base;
				font-weight : 700;
			}

		}
	}

	@at-root .Services
	{
		@extend %Wrapper;
		h2
		{
			@extend %Header-Special;
			margin-bottom : 50px;
		}

		.Nav
		{
			display       : table;
			width         : 100%;
			margin-bottom : 40px;
			.Active
			{
				cursor : default;
				@extend %Transition-Fast;
				border : 2px solid $C-Secondary;
			}
			li
			{
				@extend %Transition-Fast;
				display        : table-cell;
				width          : 16.66%;
				vertical-align : middle;
				border-radius  : 10px;
				border         : 2px solid transparent;
				text-align     : center;
				cursor         : pointer;

				button
				{
					padding     : 20px;
					font-weight : 600;
				}
				&:hover
				{
					@extend %Transition-Fast;
					border : 2px solid $C-Secondary;
				}

			}
			.Active
			{
				@extend %Transition-Fast;
				border : 2px solid $C-Secondary;
			}
		}

		.Views-Wrap
		{

			.Next
			{
				right         : 3px;
				border-radius : 4px 0 0 4px;

				svg
				{
					transform      : rotate(90deg);
					-moz-transform : rotate(45deg);
				}
			}
			.Previous
			{
				left          : 2px;
				border-radius : 0 4px 4px 0;

				svg
				{
					transform      : rotate(-90deg);
					-moz-transform : rotate(-45deg);
				}
			}
			.Next, .Previous
			{
				@extend %Std-Transition;
				position    : absolute;
				width       : 50px;
				height      : 80px;
				padding-top : 19px;
				background  : white;
				z-index     : 1;
				top         : calc(50% - 95px);
				cursor      : pointer;
				text-align  : center;
				&:hover
				{
					@extend %Transition-Fast;
					background : $C-Secondary;
					svg
					{
						fill : white;
					}
				}
				svg
				{
					@extend %Std-Transition;
					width            : 44px;
					height           : 44px;
					fill             : $C-Secondary;
					transform-origin : center;
				}
			}
		}

		.Views
		{
			position       : relative;
			padding-bottom : 110px;

			&:before, &:after
			{
				content          : "";
				display          : block;
				position         : absolute;
				top              : 0;
				bottom           : 0;
				background-color : #fff;
				height           : 100%;
				z-index          : 10;
			}
			&:before
			{
				left  : 0;
				width : 2px;
			}
			&:after
			{
				right : 0;
				width : 3px;
			}

			.List
			{
				@extend %Clearfix;
				@extend %Unselectable;
				li
				{
					float      : left;
					width      : 33.333%;
					padding    : 2px;
					filter     : grayscale(100%);
					transition : filter linear .6s;
					overflow   : hidden;

					.View-Wrap
					{
						overflow : hidden;
					}
					&:hover
					{
						filter     : grayscale(0);
						transition : filter linear .6s;
						.View-Wrap > div
						{
							transform  : scale(1.1);
							transition : transform linear .4s;
						}
					}
					.View-Wrap > div
					{
						transform  : scale(1);
						transition : transform linear .4s;
					}

				}
			}

		}

		.Views-Nav
		{
			@extend %Unselectable;
			position   : absolute;
			bottom     : 60px;
			left       : 0;
			right      : 0;
			text-align : center;
			li
			{
				@extend %Form-Circle;
				@extend %Std-Transition;
				display          : inline-block;
				margin           : 10px;
				border           : 2px solid $C-Secondary;
				width            : 16px;
				height           : 16px;
				background-color : transparent;
				cursor           : pointer;
				&:hover
				{
					@extend %Std-Transition;
					border : 2px solid $C-Primary-Dark;
				}
			}
			.Active
			{
				@extend %Std-Transition;
				background-color : $C-Secondary;
				cursor           : default;
				&:hover
				{
					border : 2px solid transparent;
				}
			}
		}
	}

	@at-root .Car-Park
	{
		border-top    : 1px solid $C-Third;
		border-bottom : 1px solid $C-Third;
		padding       : 40px 0;


		h2
		{
			text-align : center;
		}

		@at-root .Park-List
		{
			@extend %Wrapper;
			padding-top : 40px;
			font-size   : 0;
			li
			{
				width          : 25%;
				display        : inline-block;
				padding        : 25px 0;
				vertical-align : top;
				text-align     : center;
				&:hover
				{
					svg
					{
						animation : Scope .8s alternate both;
						@keyframes Scope
						{
							10%
							{
								-webkit-filter : blur(1px);
								filter         : blur(1px);
							}
							35%
							{
								-webkit-filter : blur(3px);
								filter         : blur(3px);
							}
							85%
							{
								-webkit-filter : blur(1px);
								filter         : blur(1px);
							}

							100%
							{
								-webkit-filter : blur(0px);
								filter         : blur(0px);
							}
						}
					}
					.Lock
					{
						@extend %Std-Transition;
						transform  : scale(.9);
						transition : all linear .4s;
					}
				}

			}

			h4
			{
				font-weight : 600;
				font-size   : 13rem;
				max-width   : 205px;
				margin      : 15px auto 0;
				line-height : 20rem;
			}

			.Picture
			{
				position : relative;
				display  : inline-block;

				svg
				{
					position : relative;
					width    : 100px;
					height   : 60px;
					padding  : 28px;
					fill     : #333;
				}
			}

			.Lock
			{
				@extend %Std-Transition;
				position    : absolute;
				left        : 0;
				right       : 0;
				top         : 0;
				bottom      : 0;
				will-change : top, left, right, bottom, scale;
				transform   : scale(1);
				transition  : all linear .4s;
				> div
				{
					display : table;
					width   : 100%;
					height  : 33.333%;
					span
					{
						display : table-cell;
						width   : 33.333%;
					}
				}

				.First
				{
					border-top    : 2px solid $C-Secondary;
					border-left   : 2px solid $C-Secondary;
					border-radius : 10px 0 0 0;
				}
				.Second
				{
					border-top    : 2px solid $C-Secondary;
					border-right  : 2px solid $C-Secondary;
					border-radius : 0 10px 0 0;
				}
				.Third
				{
					border-bottom : 2px solid $C-Secondary;
					border-left   : 2px solid $C-Secondary;
					border-radius : 0 0 0 10px;
				}
				.Fourth
				{
					border-bottom : 2px solid $C-Secondary;
					border-right  : 2px solid $C-Secondary;
					border-radius : 0 0 10px 0;
				}

			}

		}
	}

	@at-root .About
	{
		@extend %Wrapper;
		padding : 15px 0 50px;
		h2
		{
			text-align : center;
			margin     : 40px 0 50px;
		}

		h3
		{
			max-width : 660px;
			margin    : 0 auto 20px;
			font-size : 20rem;
		}

		p, ul
		{
			max-width      : 660px;
			margin         : 0 auto;
			padding-bottom : 15px;
			font-size      : 14rem;
			line-height    : 22rem;
		}

		li
		{
			font-size    : 16rem;
			line-height  : 22rem;
			padding-left : 30px;
		}

		li
		{
			margin-bottom : 10px;
			display       : block;
			position      : relative;
			&:before
			{
				@extend %Form-Circle;
				position       : absolute;
				top            : 8px;
				left           : 0;
				content        : "";
				border         : 2px solid $C-Secondary;
				padding        : 3px;
				vertical-align : middle;
			}
		}

	}

}