.Contacts
{
	h2
	{
		@extend %Header-Special;
		margin-bottom : 50px;
	}
	.Map
	{
		max-width : 1920px;
		margin    : 0 auto;
		position  : relative;
		overflow  : hidden;
		.Script
		{
			position : absolute;
			left     : 0;
			right    : 0;
			top      : 0;
			bottom   : 0;
		}
		@at-root .Contacts-Form
		{
			display     : table;
			margin-left : 50%;
			width       : 50%;
			min-height  : 700px;
			.Wrap
			{
				display          : table-cell;
				padding-left     : 50px;
				vertical-align   : middle;
				background-image : -moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%, rgba(246, 246, 246, 0.50196) 100%);
				background-image : -webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%, rgba(246, 246, 246, 0.50196) 100%);
				background-image : -ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%, rgba(246, 246, 246, 0.50196) 100%);
				box-shadow       : 0 0 40px 0 rgba(0, 0, 0, 0.2);
				position         : relative;
			}

			form
			{
				width     : 100%;
				max-width : 500px;

				h3
				{
					font-size  : 20rem;
					text-align : center;
				}
				div
				{
					margin-bottom : 20px;
				}
				label
				{
					display   : block;
					font-size : 14rem;
					color     : $C-Primary-Dark;
					margin    : 10px 20px;
					cursor    : pointer;
				}
				input, textarea
				{
					display       : block;
					width         : 100%;
					border-radius : 2px;
					font-size     : 14rem;
					padding-left  : 20px;
					border        : 2px solid $C-Third-Dark;
				}
				input
				{
					height : 30px;
				}
				textarea
				{
					height      : 200px;
					padding-top : 20px;
					resize      : none;
				}
				button
				{
					@extend %Button-Base;
					display : table;
					margin  : 50px auto 0;
				}

			}
		}

	}
}

