.Gallery
{
	@extend %Wrapper;
	margin-bottom : 150px;
	h2
	{
		@extend %Unselectable;
		@extend %Header-Special;
		small
		{
			left : calc(50% - 70px);
		}

	}
	.Go-PDF
	{
		@extend %Std-Transition;
		display        : table;
		margin         : 20px auto;
		padding-bottom : 2px;
		font-size      : 14rem;
		color          : $C-Primary;
		border-bottom  : 1px solid $C-Primary;

		&:hover
		{
			@extend %Std-Transition;
			border-bottom : 1px solid transparent;
		}
	}
	h2 + p
	{
		font-weight : 600;
		max-width   : 1024px;
		margin      : 40px auto 0;
		text-align  : center;
	}

	h3
	{
		@extend %Unselectable;
		text-align  : center;
		font-size   : 20rem;
		color       : $C-Secondary;
		font-weight : 700;
		margin      : 50px 0;
		span
		{
			display    : block;
			font-size  : 14rem;
			margin-top : 10px;
		}
	}
	ul
	{
		@extend %Clearfix;
		margin-bottom : 50px;
	}
	li
	{
		width : 33.333%;
		float : left;
	}

}