.Vacancies-Wrap
{
	@extend %Wrapper;
	display     : table;
	width       : 100%;
	padding-top : 50px;
	@include Adaptive('>=desktop')
	{
		height : calc(100vh - 207px - 155px);
	}
	@at-root .Vacancies-Title
	{
		display : table-header-group;
		height  : 10%;
		h2
		{
			@extend %Header-Special;
			margin-bottom : 50px;
		}
	}

	@at-root .Vacancies
	{
		display        : table-cell;

		max-width      : 600px;
		ul, span
		{
			margin  : 0 auto;
			display : block;
		}

		ul
		{
			max-width     : 350px;
			margin-bottom : 60px;
		}

		span
		{
			max-width     : 600px;
			margin-bottom : 60px;
			font-weight   : 500;
		}

		li, span
		{
			font-size   : 16rem;
			line-height : 22rem;
		}

		li
		{
			margin-bottom : 25px;
			&:before
			{
				@extend %Form-Circle;
				content        : "";
				display        : inline-block;
				border         : 2px solid $C-Secondary;
				padding        : 3px;
				margin         : 0 20px 4px 0;
				vertical-align : middle;
			}
		}

	}
}