%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s, fill linear .2s, border linear .2s;
}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow
{
}

%Shadow-Text
{
}

%Shadow-Text-Secondary
{
}

%Shadow-Text-Primary
{
	text-shadow : 0 1px 0 rgba(0, 0, 0, .004);
}

%Wrapper
{
	max-width : 1200px;
	margin    : 0 auto;

	@include Adaptive('>=desktop')
	{
	}
}

%Button-Base
{
	@extend %Unselectable;
	@extend %Std-Transition;
	padding          : 10px 20px;
	background-color : $C-Secondary;
	box-shadow       : 0 3px 0 0 rgba(217, 58, 0, 0.004), 0 5px 30px 0 rgba(0, 0, 0, 0.5);
	color            : white;
	border-bottom    : 3px solid $C-Secondary-Dark;
	cursor           : pointer;
	font-size        : 17rem;
	&:hover
	{
		@extend %Std-Transition;
		background-color : white;
		box-shadow       : 0 3px 0 0 rgba(217, 217, 217, 0.004), 0 5px 30px 0 rgba(0, 0, 0, 0.5);
		color            : $C-Primary-Dark;
		border-bottom    : 3px solid $C-Third-Dark;
	}
}

%Header-Special
{
	@extend %Unselectable;
	position      : relative;
	display       : table;
	max-width     : 100%;
	margin        : 0 auto;
	padding       : 10px 40px 16px;
	border-radius : 10px;
	border        : 2px solid $C-Secondary;
	font-size     : 44rem;
	font-weight   : 300;
	text-align    : center;
	color         : $C-Primary;
	small
	{
		font-size        : 14rem;
		color            : #666;
		padding          : 10px;
		position         : absolute;
		top              : -19px;
		left             : calc(50% - 80px);
		background-color : white;
	}
}









