html
{
	font-size   : 1px;
	font-family : 'Open Sans', sans-serif;
}

body
{
	min-width : 1024px;
}

input, button, textarea
{
	&:focus
	{
		outline : none;
	}

}

a
{
	text-decoration : none;
}

button
{
	border     : none;
	cursor     : pointer;
	padding    : 0;
	background : none;
}

h1
{
	font-size : 36rem;
}

h2
{
	font-size   : 44rem;
	font-weight : 300;
}

h3
{
}

h4
{
	font-size : 20rem;
}

h5
{
}

h6
{
}

p
{
	font-size   : 14rem;
	color       : $C-Primary;
	line-height : 22rem;
}

dt, dd, span, li
{
	color : $C-Primary-Light;
}

dt
{
	font-size   : 14rem;
	line-height : 25rem;
}

dd
{
	font-size   : 14rem;
	line-height : 25rem;
	font-weight : 300;
}

span
{
	color : $C-Primary-Light;
}

main
{
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}

.Splash
{
	@extend %Form-Circle;
	position         : absolute;
	width            : 10px;
	height           : 10px;
	background-color : red;
	animation        : ripple-animation 1s;
}

.JS-TouchButton
{
	position : relative;
	overflow : hidden;
}

@keyframes ripple-animation
{
	from
	{
		transform : scale(1);
		opacity   : 0.4;
	}
	to
	{
		transform : scale(20);
		opacity   : 0;
	}
}





