.Site-Footer
{
	background-color : $C-Primary-Dark;
	@at-root .Footer-List
	{
		@extend %Wrapper;
		display : table;
		width   : 100%;
		padding : 0 40px;
		.Info
		{
			width   : 35%;
			padding : 25px 0;
			.Logo
			{
				dl
				{
					padding-top    : 5px;
					vertical-align : middle;
				}
				dt
				{
					padding-bottom : 10px;
				}
				svg
				{
					fill : white;
				}

			}
			dl
			{
				font-size   : 13rem;
				padding-top : 17px;
				font-weight : 300;
				dt, dd
				{
					line-height : 18rem;
				}
				dt
				{
					color          : white;
					padding-bottom : 20px;
				}
				dd
				{
					color     : white;
					max-width : 320px;
				}
			}
		}

		.Address
		{
			width       : 20%;
			border-left : 1px solid #777775;
		}

		.Phones
		{
			width : 20%;
		}

		.Made-By
		{
			width      : 25%;
			padding    : 25px 0;
			text-align : right;
			svg
			{
				width  : 106px;
				height : 40px;
				fill   : white;
			}
		}

		.Info, .Address, .Phones, .Made-By
		{
			display        : table-cell;
			vertical-align : top;
		}

		.Address, .Phones
		{
			padding      : 30px 0 0 30px;
			border-right : 1px solid #777775;
			dl
			{
				dt
				{
					margin-bottom : 15px;
					font-size     : 28rem;
					color         : #777775;
				}

				dd
				{
					color : white;
				}
			}
			a
			{
				transition    : border linear .2s;
				color         : white;
				border-bottom : 1px solid transparent;

				&:hover
				{
					transition    : border linear .2s;
					border-bottom : 1px solid white;
				}

			}
		}

		.Made-By
		{
			dl:first-of-type
			{
				margin-bottom : 25px;
			}

			dl
			{

				dt
				{
					font-size     : 12rem;
					margin-bottom : 5px;
					color         : #777775;
				}

				dd
				{
					color       : white;
					font-weight : 300;
				}
			}
			@at-root .Progress-Time
			{
				display       : block;
				margin-bottom : 10px;

				span
				{
					@extend %Uppercase;
					font-weight : bold;
					font-size   : 18rem;
					line-height : 0;
				}

				small
				{
					display     : block;
					font-size   : 12rem;
					font-weight : 300;
					line-height : 0;
				}
			}

			span, a
			{
				color : white;
			}

		}

	}
}