.Header-Wrap
{
	@at-root .Site-Header
	{
		@extend %Wrapper;
		display : table;
		width   : 100%;
		padding : 45px 50px 50px;

		@at-root .Logo
		{
			width          : 24%;
			padding-bottom : 5px;
			svg
			{
				width          : 55px;
				height         : 55px;
				margin-right   : 10px;
				vertical-align : middle;
			}

			dl
			{
				display        : inline-block;
				vertical-align : middle;
			}

			dt
			{
				font-size     : 40rem;
				font-family   : 'Calibri', 'Verdana', 'Arial', 'Helvetica', sans-serif;
				font-weight   : 700;
				margin-bottom : 1px;
			}

			dd
			{
				@extend %Uppercase;
				font-size   : 16rem;
				font-weight : 600;
			}

		}
		@at-root .Header-Nav
		{
			display        : table-cell;
			width          : 60%;
			vertical-align : middle;
			text-align     : center;
			.Active
			{
				a
				{
					transition    : all ease-out .1s;
					border-bottom : 1px solid transparent;
					cursor        : default;
				}

			}

			li
			{
				display        : inline-block;
				vertical-align : middle;
				margin         : 0 10px;
			}

			a, button
			{
				display        : inline-block;
				transition     : all ease-out .1s;
				font-size      : 13rem;
				font-weight    : 600;
				border-bottom  : 1px solid $C-Secondary;
				padding-bottom : 1px;
				cursor         : pointer;
				color          : $C-Primary-Dark;
				&:hover
				{
					transition    : all ease-out .1s;
					border-bottom : 1px solid transparent;
				}
			}

		}

		.Back
		{
			width : 26%;
			a
			{
				@extend %Std-Transition;
				display       : inline-block;
				padding       : 10px 20px 10px 35px;
				border        : 2px solid $C-Secondary;
				border-radius : 10px;
			}
			&:hover
			{

				span:before
				{
					@extend %Std-Transition;
					transition   : border linear .2s;
					border-right : 18px solid white;
				}
				a
				{
					@extend %Std-Transition;
					background-color : $C-Secondary;
				}
				span
				{
					color : white;
				}

			}

			span
			{
				position    : relative;
				font-weight : 600;
				font-size   : 14rem;
				font-family : 'Open Sans', sans-serif;

				&:before
				{
					@extend %Std-Transition;
					content        : "";
					display        : inline-block;
					position       : absolute;
					left           : -28px;
					top            : 1px;
					vertical-align : middle;
					width          : 0;
					height         : 0;
					border-top     : 10px solid transparent;
					border-right   : 18px solid $C-Secondary;
					border-bottom  : 10px solid transparent;
					transition     : border linear .2s;
				}
			}
		}

		.Phones
		{
			width       : 16%;
			font-size   : 14rem;
			font-weight : 700;

			span
			{
				display : table;
				margin  : 5px 0 5px auto;
			}
		}

		.Logo, .Back, .Phones
		{
			display        : table-cell;
			vertical-align : middle;
		}

		.Logo
		{
			fill : #ff5400;
		}
	}
}